body
{
margin: 0px;
}

.container1
{
height: 100px;
width: 100px;
background-color: red;

}
.container2
{
position:relative;
bottom: 100px;
left: 100px;
height: 100px;
width: 100px;
background-color: blue ;


}
.container3
{
position: relative;
bottom: 200px;
left: 200px;
height: 100px;
width: 100px;
background-color: yellow;


}
