
body{
        margin: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: #40514e;
    }
h1{
    margin: 0px;
    font-size: 5.628rem;
    font-family: 'Sacramento', cursive;
    color: blueviolet;
}

.top-container
{
    
    padding-top: 100px;
    background-image: linear-gradient(to bottom ,yellow,orange,violet,powderblue);
    border: none 10px;
    
}
.middle-container
{
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom ,rgb(166, 240, 144),rgb(130, 231, 238));
   
}
.bottom-container
{
   padding-top: 100px; 
   background-image: linear-gradient(to bottom ,orange,yellow);
   padding-bottom: 20px;
}


.cloud2
{
    position: absolute;
    top: 310px;
    left:300px
}
.cloud1
{
    position:relative;
    left: 350px;
}
hr
{
    border-style: dotted none none;
    border-width: 5px;
    border-color: blue;
    
}
.sun
{
    position: relative;
    left: 450px;
    bottom: 40px;
}
.tree1
{
    position: relative;
    left: 100px;
}
.address
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.profile
{
    padding-top: 50px;
    background-image: linear-gradient(to bottom,magenta,pink);
    padding-bottom: 50px;
    line-height: 2;
    
}

.globe
{
    border-radius: 50%;
    position: relative;
    right: 400px;  
    bottom: 20px; 
    top: 180px;
}
.globe:hover
{
    box-shadow: cornflowerblue 10px 10px 10px;
}
.prashant
{
    border-radius: 50%;
    float: left;
    position:relative;
    left: 400px;
    margin-right: 20px;
}
.prashant:hover
{
    box-shadow: darkblue 10px 10px 10px;
}
.gmail
{
    
    position: relative;
    right: 30px;
}

.li{
    position: relative;
    bottom: 5px;
}
.icon
{
    position: relative;
    left: 30px;
}
.wb
{
    font-size: 2rem;
}
h2{
   line-height: 2;
   color: black;
   font-weight: bolder;
   font-size: 25px;
}


.list
{
    text-align: left;
    position: relative;
    left: 200px;
    line-height: 2;
}

.gm{
    margin-left: 40px;
    text-align: left;
}
.skill
{
    margin: 0px;
    position: relative;
    left: 400px;
    top: 200px;
}

.know
{
    line-height: 2;
}
.submit
{
    border-radius: 10%;
    padding: 20px;
    background-color:powderblue ;
    border: 0px;
    padding:10px 10px;
}
.submit:hover
{
    color: burlywood;
    background-color: chartreuse;
    box-shadow:indigo 5px 5px 5px;
}